# helm show values elastic/kibana > kibana-padrao.yaml

# configurações de maquina
resources:
  requests:
    cpu: "100m"
    memory: "500Mi"
  limits:
    cpu: "1000m"
    memory: "1Gi"

# Mapeamento do elastic search no kibana
elasticsearchHosts: "http://elasticsearch-master:9200"

service:
  type: ClusterIP
  port: 5601